<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Home Page </h1>
    <p> Enter your City and State below: </p>
    <p> Enter the month of your visit: </p>
    <p> Example: Portland, Oregon </p>
    <p> Example: January </p>
    <form action="#" method="post">
	   <p>City, State: <input type="text" name="location"/>
     <p>Month: <input type="text" name="month" /> <input type="submit" value="Submit"/></p>
	  </form>

    {% endblock %}
  </body>
</html>
